*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

#page-index {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70vw;
  padding: 20px 0;
}
#page-index .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#tohidden {
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
nav .nav_filtre {
  border-radius: 20px;
  border: #c4c4c4 0.1em solid;
  margin: 3px 5px;
  padding-left: 2px;
  transition-duration: 0.2s;
}
nav .nav_filtre:hover {
  background-color: #901c1c14;
  cursor: pointer;
  border: #901c1cab 0.1em solid;
}
nav .nav_filtre p {
  margin: 3px 8px 3px 4px;
  color: #901c1c;
  font-size: 12px;
}

.logo {
  height: 50px;
  margin: 20px 50px 0;
}

@media only screen and (max-width: 1185px) {
  #page-index {
    flex-direction: column;
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 700px) {
  nav {
    justify-content: center;
  }

  #page-index {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 85vw;
    margin: auto;
    padding: 0px 20px;
  }

  .logo {
    height: 20px;
    margin: 20px 10px 0;
  }
}
#main-index {
  margin: auto;
}
#main-index .principal {
  font-size: 2em;
  font-weight: 400;
  color: #901c1c;
  text-align: right;
  position: absolute;
  top: 35px;
  right: 3%;
}
#main-index img {
  margin-bottom: 22px;
  width: 200px;
  height: 200px;
  font-weight: 400;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-self: center;
  padding: 60px 0 30px;
}

.photographers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.photographers .name {
  text-decoration: none;
  font-size: 36px;
  color: #d3573c;
  margin-bottom: 2px;
  transition: 300ms;
}
.photographers .name::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #d3573c;
  transition: 300ms;
}
.photographers .name:hover::after {
  width: 100%;
}
.photographers .location {
  font-size: 13px;
  color: #901c1c;
  margin-bottom: 4px;
}
.photographers .bio {
  font-size: 10px;
  margin-bottom: 4px;
}
.photographers .price {
  font-size: 9px;
  color: #525252;
  margin-bottom: 6px;
}

.hastag {
  font-size: 12px;
  display: flex;
}
.hastag .photographer-filter {
  border-radius: 20px;
  border: #c4c4c4 0.1em solid;
  margin: 2px 5px;
  transition-duration: 0.2s;
  padding-left: 4px;
}
.hastag .photographer-filter:hover {
  background-color: #901c1c14;
  cursor: pointer;
  border: #901c1cab 0.1em solid;
}
.hastag .photographer-filter p {
  margin: 3px 8px 3px 4px;
  color: #901c1c;
  font-size: 12px;
}

.justatest {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

@media only screen and (max-width: 1185px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  #main-index .principal {
    font-size: 30px;
    top: 65px;
  }
}
@media only screen and (max-width: 950px) {
  #main-index .principal {
    font-size: 20px;
    top: 65px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }

  #main-index .principal {
    font-size: 20px;
    top: 15px;
    right: 10%;
  }
}
#header-photographe {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-photographe #bloc-logo-photographe {
  width: 90%;
  max-width: 1240px;
  margin: auto;
  display: flex;
}
#header-photographe #bloc-logo-photographe .logo-photographe {
  height: 50px;
}

.vignette-photographe {
  margin: auto;
  max-width: 1240px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  border-radius: 8px;
  background-color: #f4f4f4;
  margin-bottom: 30px;
}

.location-photographer {
  margin-bottom: 9px;
  font-size: 24px;
  color: #901c1c;
}

.bio-photographer {
  margin-bottom: 7px;
  font-size: 18px;
}

.firstName {
  font-size: 64px;
  color: #d3573c;
  margin-bottom: 2px;
  font-weight: 400;
  line-height: 65px;
}

.btn-contact {
  width: 150px;
  font-weight: 400;
  margin-top: 20px;
  margin: 0 30px;
  font-size: 17px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #901c1c;
  color: white;
  font-family: inherit;
}
.btn-contact:active {
  background-color: red;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.main-content-photographer {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.img-page {
  width: 100px;
}

.picture-photographer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-self: center;
  max-width: 1240px;
  width: 90%;
  margin: auto;
}
.picture-photographer_presentation {
  margin-bottom: 20px;
}
.picture-photographer_presentation .wrapper {
  overflow: hidden;
  border-radius: 10px;
  width: 350px;
  height: 300px;
}
.picture-photographer .img-page {
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 7px;
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.picture-photographer .img-page:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.text-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}

.price-and-count {
  display: flex;
  align-items: center;
}
.price-and-count .paddeur {
  padding-left: 13px;
}

.card-filter {
  display: none;
}

.trie {
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-bottom: 30px;
}
.trie p,
.trie select {
  display: inline;
}

.compteur {
  display: flex;
  padding: 10px 25px 6px;
  border-radius: 7px 7px 0 0;
  position: fixed;
  bottom: 0;
  right: 9%;
  font-size: 0.9em;
  background-color: #db8876;
}
.compteur :first-child {
  margin-right: 30px;
}

@media only screen and (max-width: 1260px) {
  .picture-photographer {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1185px) {
  .btn-contact {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .firstName {
    font-size: 36px;
    line-height: 35px;
  }

  .location-photographer {
    font-size: 13px;
  }

  .bio-photographer {
    font-size: 13px;
  }

  .image {
    width: 150px;
    height: 150px;
  }

  .picture-photographer .wrapper {
    width: 40vw;
    height: 35vw;
  
  .picture-photographer .img-page {
    width: 40vw;
    height: 35vw;
  }

  .vignette-photographe {
    margin-bottom: 35px;
  }

  .compteur {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .picture-photographer {
    grid-template-columns: 1fr;
  }
  .picture-photographer .img-page {
    width: 350px;
    height: 300px;
  }
  .picture-photographer .wrapper {
    width: 350px;
    height: 300px;
  }
  .picture-photographer .vignette-photographe {
    margin-bottom: 35px;
  }

  .trie {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .image {
    width: 100px;
    height: 100px;
  }

  .vignette-photographe {
    width: 100%;
    background-color: initial;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .picture-photographer .wrapper {
    width: 90vw;
    height: 80vw;
  }
  .picture-photographer .img-page {
    width: 90vw;
    height: 80vw;
  }
}
@media only screen and (max-width: 340px) {
  .image {
    width: 70px;
    height: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
