.lightbox{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    animation: lightboxIn .5s;
    transition: opacity .3s;
    &__next, &__prev{
        border: none;
        background: url(/img/arrow.svg) center center/45px 45px no-repeat;
        width: 7%;
        height: 60%;
        position: fixed;
        top: 20%;
        right: 0;
        margin-top: -14px;
        z-index: 11;
    }
    &__prev{
        right: auto;
        left: 0;
        transform: rotate(180deg);
    }
    &__close{
        height: 10px;
        width: 10px;
        background: url(/img/cross.svg) center center / 30% 30% no-repeat transparent;
        border: none;
        position: fixed;
        top: 50px;
        right: 10px;
        z-index: 12;
        padding: 43px;
        margin: 0px;
    }
    & button{
        opacity: .5;
        transition: opacity .25s;
        cursor: pointer;
        text-indent: -3000px;
    }
    & button:hover{
        opacity: 1;
        &:focus{
            outline: none;
        }
    }
    &.fadeOut{
        opacity: 0;
    }
}

.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    & img{
        max-width: 87%;
        height: auto;
        max-height: 90vh;
        animation: lightboxIn .5s;
    }
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}