.scroll-header{
    color: black;
    position: fixed;
    display: none;
    background-color: #DB8876;
    padding: 4px 7px;
    border-radius: 5px;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}